.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

:root{
    --primary: #fff;
    --bg-color: rgb(255, 192, 203);
    --bg-amplop-color: #f5edd1;
    --amplop-tab: #FFA5EC;
    --amplop-cover: #FF6DD4;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: red;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container > .amplop-wrapper {
    background: var(--bg-amplop-color);
    box-shadow: 0 0 40px var(--shadow-color);
}

.amplop-wrapper > .amplop {
    position: relative;
    width: 400px;
    height: 250px;
}
.amplop-wrapper > .amplop::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 230px solid var(--amplop-tab);
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}

.amplop-wrapper > .amplop::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 150px solid transparent;
    border-right: 200px solid var(--amplop-cover);
    border-bottom: 100px solid var(--amplop-cover);
    border-left: 200px solid var(--amplop-cover);
}

.amplop > .surat {
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background: var(--primary);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px 10px;
}

.amplop > .surat > .text {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--txt-color);
    text-align: left;
    font-size: 8px;
}

.heart {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 1px 6px var(--shadow-color);
    cursor: pointer;
}

.heart:before, 
.heart:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--heart-color);
    border-radius: 50%;
}

.heart:before {
    top: -7.5px;
}

.heart:after {
    right: 7.5px;
}

.flap > .amplop:before {
    transform: rotateX(180deg);
    z-index: 0;
}

.flap > .amplop > .surat {
    bottom: 100px;
    transform: scale(1.5);
    transition-delay: 1s;
}

.flap > .heart {
    transform: rotate(90deg);
    transition-delay: 0.4s;
}